header {
    width: 100%;
    padding: 4px;
    border-bottom: 2px solid black;
    display: flex;
}


li{
    list-style : none;
    padding: 4px;
    display: inline-block;
    border-right: 1px solid grey;
    margin: 4px;

}

.brand{
    text-align: center;
}

.brand img{
    width: 50px;
    height: auto;
    border-radius: 100%;
}

.brand h3{
    margin-top: 5px;
}