<div class="container"  >
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo odit labore in obcaecati quidem dolor culpa quasi enim harum laboriosam, quibusdam officia debitis. Repudiandae explicabo nesciunt quisquam at corrupti non!</p>
</div>

<div class="conatiner"  appBetterhighlight>
    <p>  Lorem ipsum dolor sit amet @HostBinding consectetur, adipisicing elit. Nemo odit labore in obcaecati quidem dolor culpa quasi enim harum laboriosam, quibusdam officia debitis. Repudiandae explicabo nesciunt quisquam at corrupti non!</p>
</div>

